@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sigmar+One&display=swap');

.App {
  text-align: center;
  background-color: black;
  background-size:cover;
  height:100%;
  width: 100%;
  margin:0;
  color:white;
}
.App .logo{
  width:80%;
  margin-top:-5%;
  margin-bottom:-14%;
}

.menubutton{
  display: flex;
  flex-direction: column;
}


button.menu{
  color:white; 
  border: none;
  background-color: black;
  float: left;
  /* margin-bottom: 20%;
  padding-bottom: 40%; */
}

.App .logo{ 
  width:80%; 
  margin-top:-5%; 
  margin-bottom:-14%; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */
.navbar {
  border-bottom: solid 1px #EBEBEB;
  background-color: black;
  opacity:.8; 
}
.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: #922c88;
}
.bottom-tab-label {
  font-size: 12px;
}

.navicons{
  display: flex;
  align-items: center;
  flex-direction: column;
  color:white; 
  transition-property: color;
  transition-duration: 150ms;
}

.navicons:hover{
  color:rgb(235, 94, 94); 
}

/* dropdown */
.main p{
  text-align: left;
  margin-left: 5%;
  margin-top: -5%; 
}
.main .dropdown{
  text-align:left; 
  margin-left: 5%;
}
/* carousel */
.main h2{
  background: pink;
  background: -webkit-radial-gradient(circle farthest-corner at center center,pink 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, pink 100%);
  background: -moz-radial-gradient(circle farthest-corner at center center,pink 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, pink 100%);
  background: radial-gradient(circle farthest-corner at center center,pink 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, pink 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:35px;
  margin-top:15px; 
}

.Carousel{
  width:90%; 
  margin:0 auto; 
}
.carousel-item {
  display:flex;
  flex-direction: column;
}

.carousel-item img{
   width:80%;
   height:300px; 
   margin:0 auto; 
}

.carousel-item .caption{
   height:15%; 
   /* text-align:center;  */
   background-color: black;
   color:white; 
   background-size: cover;
   opacity: 0.8; 
   font-family: 'Lobster', cursive;
   font-size:20px; 
}

/* parlours display */
.main .subtitle{
  text-align:left; 
  margin-left:5%;
  margin-top: 10px;
  margin-bottom:25px;
}
.parlour{
  display:flex; 
  flex-wrap:wrap; 
  justify-content:space-around; 
}

.parlour img{
  width:90%; 
  height:250px;
}

.parlour h1{
  font-size:24px; 
  text-align:left;
  margin-left:5%; 
}

.parlour p{
  margin:5px; 
  margin-left:5%; 
}

.parlour .star{
  color:lightcoral; 
}

/* offers */

.bootstrapcard{
   background-image: linear-gradient(315deg, #000000 90%, #ffffff 10%)
   !important; 
  opacity:.9; 
  box-shadow: 8px 8px 8px #888888;
  border-color: rgb(240, 191, 118) !important; 
  margin:5px; 
}


.odisplay img{
  width: 200px;
  height: 180px;
  margin:0 auto; 
  padding-top:3px !important;
}

.bootstrapcard .title{
  font-family: 'Pacifico', cursive !important;
  margin-top:-15px;
  font-size:25px; 
}

/* menu */
.BootstrapCard #cards{
  width:100%; 

}
/* ice-cream */
.icecream{
  display:flex; 
  flex-wrap:wrap; 
  justify-content:space-around; 
   margin:10px; 
   flex-direction: column;
   gap: 20px;
}

.icecream img{
  width:100%; 
  height:350px;
  margin-top: 10%;
}

.icecream h1{
  font-family: 'Sigmar One', cursive; 
}

.icecream p{
  font-size:24px; 
}

.icecream .cart{
  padding-left:8px;
  transition-property:font-size;
  transition-duration: 50ms;
  size: 25px; 
}

.icecream .cart:hover{
  font-size:30px;
}

/* popsicles */
.popsicles {
  display:flex; 
  flex-wrap:wrap; 
  justify-content:space-around; 
  margin:10px; 
  flex-direction: column;
  gap: 20px;
}

.popsicles img{
  width:100%; 
  height:350px;
  margin-top: 10%;
}

.popsicles h1{
  font-family: 'Sigmar One', cursive; 
}

.popsicles p{
  font-size:24px; 
}

.popsicles .cart{
  padding-left:8px;
  transition-property:font-size;
  transition-duration: 50ms;
  size: 25px; 
}

.popsicles .cart:hover{
  font-size:30px;
}

/* drinks */
.drinks {
  display:flex; 
  flex-wrap:wrap; 
  justify-content:space-around; 
  margin:10px; 
  flex-direction: column;
  gap: 20px;
}

.drinks img{
  width:100%; 
  height:350px;
  margin-top: 10%;
};

.drinks h1 {
  font-family: 'Sigmar One', cursive; 
}

.drinks p{
  font-size:24px; 
}

.drinks .cart{
  padding-left:8px;
  transition-property:font-size;
  transition-duration: 50ms;
  size: 25px; 
}

.drinks .cart:hover{
  font-size:30px;
}

/* italianices */

.italianices {
  display:flex; 
  flex-wrap:wrap; 
  justify-content:space-around; 
  margin:10px; 
  flex-direction: column;
  gap: 20px;
}

.italianices img{
  width:100%; 
  height:300px;
  margin-top: 10%;
}

.italianices h1{
  font-family: 'Sigmar One', cursive; 
  font-size: 35px; 
}

.italianices p{
  font-size:24px; 
}

.italianices .cart{
  padding-left:8px;
  transition-property:font-size;
  transition-duration: 50ms;
  size: 25px; 
}

.italianices .cart:hover{
  font-size:30px;
}

/*About*/
.About h1{
  /* display: flex;
	align-items: center;
	justify-content: center;
	align-content: center; */
	font-weight: normal;
	width: 100%;
	text-align: center;
	font-size: 8vw;
	background: linear-gradient(
		-45deg, 
	  #4bc0c8 25%, 
	  pink 25%, 
	  pink 50%, 
		#4bc0c8 50%, 
		#4bc0c8 75%, 
	  pink 75%, 
		pink);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 0 0;
	animation: stripes 1s linear infinite;
};

.About p{
  font-size:25px;
  text-align: left;
  font-weight: bold;
}

.About img{
  width:100%; 
  height:200px; 
}

/* Footer */
.Footer{
  margin-top: 8%;
  margin-bottom: 20%;
}

@media screen and (min-width: 768px){
  .App .logo{ 
    width:60%; 
    margin-top:-10%; 
    padding-bottom:-15%; 
  };

  .Carousel{
    width:100%; 
  }

 .carousel-item img{
  width:60%;  
  height:350px; 
  margin:0 auto; 
} 

 .parlour img{
  width:600px; 
  height:430px;
  margin:0 auto; 
}

.parlour h1{
  margin:5px; 
  font-size:24px; 
  text-align:left;
  margin-left:0%; 
}

.parlour p{
  margin:5px; 
  margin-left:0%; 
}

.button menu{
  margin-bottom: 20%;
  }

.icecream img{
  width:600px; 
  height:500px;
  margin-top: 10%;
}

.popsicles img{
  width:600px; 
  height:500px;
  margin-top: 10%;
}

.drinks img{
  width:600px; 
  height:550px;
  margin-top: 10%;
}

.italianices img{
  width:600px; 
  height:500px;
  margin-top: 10%;
}

.bootstrapcard{
  margin:20px; 
}

.About img{
  width:70%; 
}

.About h1{
  font-size:40px;
}
}

@media screen and (min-width: 1024px){
  .App .logo{ 
    width:42%; 
    margin-top:-10%; 
    margin-bottom:-14%; 
  }

  .Carousel{
    width:90%; 
    margin:0 auto; 
  }

  .carousel-item img{
    width:50%;
    height:450px; 
    margin:0 auto; 
 }

 .parlour img{
  width:550px; 
  height:420px;
  margin:0 auto; 
}
.parlour h1{
  margin:5px; 
  font-size:24px; 
  text-align:left;
  margin-left:0%; 
}

.parlour p{
  margin:7px; 
  margin-left:0%; 
}


.popsicles img{
  width:600px; 
  height:550px;
  margin-top: 10%;
}

.italianices img{
  width:550px; 
  height:500px;
  margin-top: 10%;
}

.offers{
  margin:0 auto; 
}
.bootstrapcard{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:70%; 
  text-align: center; 
}
.About h1{
  font-size:40px;
}

.About img{
  width:45%; 
  height:220px; 
}

}
@media screen and (min-width: 1440px){
  .App .logo{ 
    width:33%; 
    margin-top:-9%; 
    margin-bottom:-10%; 
  }
  .Carousel{
    width:70%; 
    margin:0 auto; 
  }
  .carousel-item img{
    width:40%;
    height:430px; 
    margin:0 auto; 
 }
 .parlour img{
  width:700px; 
  height:500px;
  margin:0 auto; 
}

.parlour h1{
  margin:5px; 
  font-size:24px; 
  text-align:left;
  margin-left:0%; 
}

.parlour p{
  margin:10px; 
  margin-left:0%; 
}

.About h1{
  font-size:40px;
}

.About img{
  width:30%; 
  height:230px; 
}
}

